.login_btns, .notfound_btn {
   display: flex; 
   justify-content: center;
   align-items: center;
   margin-top: 40px;
   margin-bottom: 60px;
   font-family:Arial;
   font-size: 15px;
   cursor: pointer;
}


.enter_btn  {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width:110px;
   height: 40px;
   border-width:1px;
   color: var(--white-corpo-color);
   font-weight:bold;
   border-top-left-radius:6px;
   border-top-right-radius:6px;
   border-bottom-left-radius:6px;
   border-bottom-right-radius:6px;
   background:linear-gradient(var(--light-green-corpo-color), var(--strong-green-corpo-color));
   cursor: pointer;
}

.submit_btn  {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width:110px;
   height: 40px;
   border-width:1px;
   margin: 30px 62px 10px;
   padding: 25px 70px;
   color: var(--white-corpo-color);
   font-weight:bold;
   border-top-left-radius:6px;
   border-top-right-radius:6px;
   border-bottom-left-radius:6px;
   border-bottom-right-radius:6px;
   background:linear-gradient(var(--light-green-corpo-color), var(--strong-green-corpo-color));
   cursor: pointer;
}

.register_btn {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width:120px;
   height: 40px;
   border-width:1px;
   color: var(--white-corpo-color);
   font-weight:bold;
   border-top-left-radius:6px;
   border-top-right-radius:6px;
   border-bottom-left-radius:6px;
   border-bottom-right-radius:6px;
   background:linear-gradient(var(--light-green-corpo-color), var(--strong-green-corpo-color));
   cursor: pointer;
}

.logout_button {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 18px;
   width: 120px;
   height: 40px;
   border-width:1px;
   color: var(--white-corpo-color);
   font-weight:bold;
   border-top-left-radius:6px;
   border-top-right-radius:6px;
   border-bottom-left-radius:6px;
   border-bottom-right-radius:6px;
   background:linear-gradient(var(--light-green-corpo-color), var(--strong-green-corpo-color));
   cursor: pointer;
}

.notfound_btn {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 18px;
   width: 120px;
   height: 40px;
   border-width:1px;
   margin-left: 130px;
   color: var(--white-corpo-color);
   font-weight:bold;
   border-top-left-radius:6px;
   border-top-right-radius:6px;
   border-bottom-left-radius:6px;
   border-bottom-right-radius:6px;
   background:linear-gradient(var(--light-green-corpo-color), var(--strong-green-corpo-color));
   cursor: pointer;
}

.register_btn:hover, .enter_btn:hover, .logout_button:hover,  .notfound_btn:hover, .submit_btn:hover {
    background: linear-gradient(var(--gold-corpo-color), rgb(143, 98, 14));
  }
       