.user-projects {
  display: flex;
  flex-direction: column;
    width: 330px;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--white-corpo-color);
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    h2 {
      text-align: center;
      color: var(--strong-green-corpo-color);
      font-size: 35px;
      margin-top: 0;
      margin-bottom: 0px;
    }
  }
  