.about_img {
    position: relative;
}

img[alt="starturweb_logo"] {
    position: absolute;
    width: 55px;
    top: 135px; 
    right: 1px;
}

img[alt="imagine_person_logo"] {
    position: absolute;
    width: 60px;
    height: 130px;
    top: 230px;
    right: 298px;
}

img[alt="cart_logo"] {
    position: absolute;
    width: 50px;
    top: 485px;
    right: 1px;
}

img[alt="cloud_logo"] {
    position: absolute;
    width: 200px;
    top: 630px; 
    right: 180px;
    filter: opacity(90%);
}

.contact_article > img {
    width: 80px;
    margin-left: 20px;
    cursor: pointer;
}


.contact_article > img[alt="linkedin_contact_logo"] {
    filter: brightness(70%);
}

.contact_article > img[alt="whatsapp_contact_logo"] {
    filter: brightness(90%);
}

.contact_article > img[alt="downarrow_contact_logo"]:hover {
    cursor: none;
    animation: moveDown 3s infinite; 
}

@keyframes moveDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(50px); 
    }
  }


// // Media Queries
@media screen and (min-width: 1200px) and (max-width: 2300px) {
    img[alt="starturweb_logo"] {
        top: 183px;
        right: 550px;
        width: 60px;
    }

    img[alt="imagine_person_logo"] {
        top: 60px;
        right: 300px;
        width: 70px;
        height: 140px;
      }
      
      img[alt="cart_logo"] {
        width: 60px;
        top: 440px;
        right: 550px;
      }
      
      img[alt="cloud_logo"] {
        width: 220px;
        top: 240px;
        right: 55px;
      }
    
    .contact_article > img {
        width: 80px;
        margin-top: 30px;
        margin-left: 20px;
        margin-bottom: 30px;
        cursor: pointer;
        justify-self: center;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
    img[alt="starturweb_logo"] {
        top: 183px;
        right: 550px;
        width: 60px;
    }

    img[alt="imagine_person_logo"] {
        top: 60px;
        right: 300px;
        width: 70px;
        height: 140px;
      }
      
      img[alt="cart_logo"] {
        width: 60px;
        top: 440px;
        right: 550px;
      }
      
      img[alt="cloud_logo"] {
        width: 220px;
        top: 240px;
        right: 55px;
      }

    .contact_article > img {
        width: 80px;
        margin-top: 30px;
        margin-left: 20px;
        margin-bottom: 30px;
        cursor: pointer;
        justify-self: end;
    }
}

@media screen and (min-width: 770px) and (max-width: 1000px) {
    img[alt="starturweb_logo"] {
        top: 183px;
        right: 550px;
        width: 60px;
    }

    img[alt="imagine_person_logo"] {
        top: 60px;
        right: 300px;
        width: 70px;
        height: 140px;
      }
      
      img[alt="cart_logo"] {
        width: 60px;
        top: 440px;
        right: 550px;
      }
      
      img[alt="cloud_logo"] {
        width: 220px;
        top: 240px;
        right: 55px;
      }

    .contact_article > img {
        width: 80px;
        margin-top: 30px;
        margin-left: 20px;
        margin-bottom: 30px;
        cursor: pointer;
        justify-self: center;
    }
}

@media screen and (min-width: 655px) and (max-width: 770px) {
.contact_article > img {
    width: 80px;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}
}

@media screen and (min-width: 560px) and (max-width: 655px) {
.contact_article > img {
    width: 80px;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}
}

@media screen and (min-width: 480px) and (max-width: 560px) {   
  .contact_article > img {
      width: 80px;
      margin-left: 20px;
      cursor: pointer;
  }
}