nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--strong-green-corpo-color);
    box-sizing: border-box;
}

nav::after {
    content: "";
    position: absolute;
    left: 10;
    top: 79px; 
    width: 100%;
    height: 7px; 
    background-image: linear-gradient(to bottom, var(--low-green-corpo-color), var(--white-corpo-color));
    z-index: -1; 
}

img[alt="title_logo"] {
    margin-top: 20px;  
    width: 40px;
    margin-bottom: 18px;
    margin-left: 25px;
    cursor: pointer;
    animation: blink 3s infinite;
}

@keyframes blink {
    0% {
        opacity: 0.5; 
    }
    50% {
        opacity: 1; 
    }
    100% {
        opacity: 0.5; 
    }
}

.header_h1 {
    position: absolute;
    color: var(--strong-green-corpo-color);
    font-family: 'Lobster Two', cursive;
    font-size: 31.5px;
    cursor: pointer;
    top: 0;  
    right: 20px;
    overflow: hidden; 
    transition: transform 0.3s ease, opacity 0.3s ease;
}

#navbar_ul {
    display: flex;
    flex-direction: row;
    opacity: 0;
    transform: translateY(-2000%); 
    position: absolute; 
    left: 50px; 
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 1s ease-in-out; 
}

#navbar_ul.show {
    opacity: 1;
    transform: translateY(0);
}

.header_h1.hide {
    transform: translateY(-2000%);
    opacity: 0;
}

li {
    list-style-type: none;
    color: var(--strong-green-corpo-color);
    font-family: 'Lobster Two', cursive;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    padding: 10px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:visited {
    color: var(--strong-green-corpo-color); 
  }
  
  a:hover {
    text-decoration: underline; 
  }

  // Media Queries
  //
  //
  //
  //
  //
  //
  //
  //
  
  @media screen and (min-width: 1350px) and (max-width: 2300px) {
    nav {
        position: absolute;
        flex-direction: column;
        top: 0;
        left: 0px;
        height: 919px;
        width: 100px;
        border-bottom: none;
    }

    nav::after {
        content: "";
        position: absolute;
        left: 100px;
        top: 0px; 
        width: 7px;
        height: 100%; 
        background-image: linear-gradient(to bottom, var(--low-green-corpo-color), var(--white-corpo-color));
    }

    img[alt="title_logo"] {
        animation: blink 8s infinite;
        margin-left: 0px;
        width: 55px;
    }

    .header_h1 {
        position: relative;
        font-size: 31.5px;
        top: 580px;  
        margin-left: 50px;
        writing-mode: vertical-rl;
        z-index: 9999;
    }

    #navbar_ul {
        width: 100px;
        flex-direction: column; 
        margin-top: 160px;
        left: 0;
        padding: 0;

        li {
            position: relative;
            font-size: 20px;
            padding: 50px 8px;
          }
    }
}

@media screen and (min-width: 1000px) and (max-width: 1350px) {
    nav {
        position: absolute;
        flex-direction: column;
        top: 0;
        left: 0px;
        height: 919px;
        width: 100px;
        border-bottom: none;
    }

    nav::after {
        content: "";
        position: absolute;
        left: 100px;
        top: 0px; 
        width: 7px;
        height: 100%; 
        background-image: linear-gradient(to bottom, var(--low-green-corpo-color), var(--white-corpo-color));
    }

    img[alt="title_logo"] {
        animation: blink 8s infinite;
        margin-left: 0px;
        width: 55px;
    }

    .header_h1 {
        position: relative;
        font-size: 31.5px;
        top: 580px;  
        margin-left: 50px;
        writing-mode: vertical-rl;
    }

    #navbar_ul {
        width: 100px;
        flex-direction: column; 
        margin-top: 160px;
        left: 0;
        padding: 0;

        li {
            position: relative;
            font-size: 20px;
            padding: 50px 8px;
          }
    }
}


@media screen and (min-width: 900px) and (max-width: 1000px) {
    #navbar_ul {
        li {
            padding: 100px;
          }
    }
}


@media screen and (min-width: 741px) and (max-width: 900px) {
    #navbar_ul {
        li {
            padding: 70px;
          }
    }
}

@media screen and (min-width: 550px) and (max-width: 740px) {
    #navbar_ul {
        li {
            padding: 48px;
          }
    }
}