h2 {
    display: flex; 
    align-items: center;
    justify-content: center; 
    width: auto;
    height: auto;
    color: var(--blue-corpo-color);
    font-size: 18px;
    text-align: center;
    margin: 30px auto;
    padding: 10px;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.15);
    background-clip: text;
    color: transparent;
    font-family: 'Lobster Two', cursive;
}

.about_title, .login_title, .contact_title {    
    font-size: 40px;
    color: var(--strong-green-corpo-color);
    margin: 24px 20px 20px 20px;
}


.contact_article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
}


.contact_article > .h2_darkgreen, .contact_article > .h2_brightgreen {
    margin: 10px;
    cursor: pointer;
}

.h2_darkgreen{
    font-family: 'EB Garamond', cursive;
    color: var(--white-corpo-color);
    background: var(--light-green-corpo-color);
    padding: 20px;
    margin: 40px;
}

.h2_brightgreen{
    font-family: 'EB Garamond', cursive;
    color: var(--low-green-corpo-color);
    background: var(--strong-green-corpo-color);
    padding: 20px;
    margin: 40px;
}


.about_article > h2:hover {
    color: var(--white-corpo-color);
    background-color: var(--gold-corpo-color);
    cursor:help;
    animation: blink 5s infinite; 
}

.start_webpage_title {
    font-size: 20px;
    color: var(--strong-green-corpo-color);
    margin: 7px 140px 20px 140px;
}