.photo_container {
    display: inline-block;
    position: relative;
    width: 98%;
    margin-top: 70px;
    margin-bottom: 80px;
    margin-left: 3px;
}

.girl_photo {
    display: block;
    cursor: pointer;
    width: 100%;
    transition: filter 0.4s ease-in-out;
    animation: blink 3s infinite; 
}

.textcontent { 
    font-family: 'Lobster Two', cursive;
    position: absolute;
    font-size: 30px;
    top: 46%;
    left: 48%;
    transform: translate(-50%, -50%);
    color: var(--low-green-corpo-color); 
    padding: 10px; 
}


.photo_container::before {
    font-family: 'Lobster Two', cursive;
    // content: "¿Comenzamos?"; 
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    top: 53%;
    left: 48%;
    transform: translate(-50%, -50%);
    color: var(--low-green-corpo-color); 
    padding: 10px; 
    opacity: 0; 
    transition: opacity 0.25s ease-in-out;
    z-index: 1;
    pointer-events: none;
}


.photo_container:hover::before {
    opacity: 1;
}

// Media Queries
//
//
//
//
//
//
//
//

@media screen and (min-width: 1200px) and (max-width: 2300px) {
    .photo_container {
        position: relative;
        width: auto;
        margin-top: 30px;
        left: 180px;
    }

    .girl_photo {
        width: 620px;
        animation: none; 
        filter: grayscale(100%);
    }

    .textcontent { 
        top: 330px;
        left: 300px;
        transform: translate(-50%, -50%);
    }
    
    .photo_container:hover .girl_photo {
        filter: grayscale(0%);
    }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .photo_container {
        position: relative;
        width: auto;
        margin-top: 30px;
        left: 180px;
    }

    .girl_photo {
        width: 620px;
        animation: none; 
        filter: grayscale(100%);
    }

    .textcontent { 
        top: 330px;
        left: 300px;
        transform: translate(-50%, -50%);
    }
    
    .photo_container:hover .girl_photo {
        filter: grayscale(0%);
    }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
    .photo_container {
        margin-top: 25px;
        margin-bottom: 40px;
    }

    .girl_photo {
        width: 60%;
        margin-left: 170px;
    }
}


///// HASTA AQUÍ MOVILE/TABLET
@media screen and (min-width: 700px) and (max-width: 800px) {
    .photo_container {
        margin-top: 25px;
        margin-bottom: 40px;
    }

    .girl_photo {
        width: 70%;
        margin-left: 110px;
    }
}

@media screen and (min-width: 540px) and (max-width: 700px) {
    .photo_container {
        margin-top: 40px;
        margin-bottom: 70px;
    }

    .girl_photo {
        width: 80%;
        margin-left: 60px;
    }
}

@media screen and (min-width: 470px) and (max-width: 540px) {
    .photo_container {
        margin-bottom: 80px;
    }

    .girl_photo {
        width: 90%;
        margin-left: 25px;
    }
}
