:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-family: 'EB Garamond', cursive;

  background-color: var(--white-corpo-color);


  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --gold-corpo-color:  #ffab23;
  --white-corpo-color: #f2e8cf;
  --light-green-corpo-color: #a7c957;
  --low-green-corpo-color: #6a994e;
  --strong-green-corpo-color: #386641;
}


@font-face {
  font-family: 'EB Garamond';
  src: url('/public/assets/fonts/LobsterTwo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'EB Garamond', sans-serif;
}

* {
  scrollbar-width: thin; 
  scrollbar-color: var(--white-corpo-color) var(--light-green-corpo-color); 
}

*::-webkit-scrollbar {
  width: 8px; 
  height: 8px; 
}

*::-webkit-scrollbar-thumb {
  background-color: var(--light-green-corpo-color); 
  border-radius: 10px; 
}

*::-webkit-scrollbar-track {
  background-color: var(--light-green-corpo-color);
}