.user-profile {
  display: flex;
  flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid var(--light-green-corpo-color);
    border-radius: 5px;
    background-color: var(--white-corpo-color);
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    .title_myprofile {
      text-align: center;
      color: var(--strong-green-corpo-color);
      font-size: 35px;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .form-group {
      font-size: 20px;
  
      label {
        font-size: 18px;
        display: block;
        font-weight: bold;
        color: var(--strong-green-corpo-color);
      }
  
      input {
        padding: 5px;
        background-color: var(--white-corpo-color);
        color: var(--strong-green-corpo-color);
        font-weight: 800;
        border-radius: 3px;
        text-align: center;
      }
    }
  }
  
  #username,
  #password {
    font-size: 18px;
    text-align: center;
    padding: 10px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    background: var(--white-corpo-color);
    backdrop-filter: blur(5px);
    color: var(--strong-green-corpo-color);
    width: 200px;
    box-shadow: 0 1px 4px var(--low-green-corpo-color);
  }

  .error_message{
    font-size: 20px;
    font-weight: 500;
    color: var(--strong-green-corpo-color);
  }



      // Media Queries
//
//
//
//
//
//
//

@media screen and (min-width: 1200px) and (max-width: 2300px) {
  .user-profile {
    margin-top: 90px;
}
}

@media screen and (min-width: 1100px) and (max-width: 1200px) {
  .user-profile {
    margin-top: 90px;
}
}

@media screen and (min-width: 1000px) and (max-width: 1100px) {
  .user-profile {
    margin-top: 90px;
}
}

@media screen and (min-width: 960px) and (max-width: 1000px) {
  .user-profile {
    margin-top: 60px;
}
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  .user-profile {
    margin-top: 60px;
}
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .user-profile {
      margin-top: 60px;
  }
}